
.aBmain{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    box-shadow: 2px 2px 2px 1px;
    border-radius: 9px;
    position: absolute;
    top: 45%;
    left: 16%;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 3%;
}
.botButton{
    padding-top: 3px;
    display: flex;
    justify-content: space-evenly;

}